$colors: (
    primary: #311B92,
    secondary: #651FFF
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

.header{
    height: 70vh;
    background-color: color(primary);
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.flex-parent{
   color: white; 
   font-size: 20px;
   background-color: color(secondary);
   height: 20vh;
   margin: 10px;
}

#text2{
   flex-grow: 2;
   display: flex; 
   justify-content: space-around;
}
 