
@import"./_variables.scss";


.header{
    height: 100vh;
    background-color: color(primary);
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.flex-parent{
   background-color: color(secondary);
   margin: 15px;
   flex-grow: 1;
   justify-content: space-around;
}

#container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
 
#img{
    display: flex;
    height: 30vh;
}
