@import"./_variables.scss";

.body{
    height: 100vh;
    background-color: color(primary);
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.flex-parent2{
    background-color: color(secondary);
    margin: 15px;
 }

 #container2{
   background-color: color(secondary);
    display: flex;
    padding: 20px;
    width: 40vw;
    flex-direction: column;
 }

 #container3{
   background-color: color(secondary);
   display: flex;
   padding: 20px;
   width: 60vw;
   flex-direction: column;
 }

 #text{
   color: white; 
    font-size: 4rem;
    margin: 10px;
    flex-grow: 1;
    font-family: 'M PLUS Rounded 1c', sans-serif;
 }

 #upperbox{

 }
