@import"./_variables.scss";

.body{
    height: 100vh;
    background-color: color(primary);
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.flex-parent2{
    background-color: color(secondary);
    margin: 15px;
    border-radius: 15px;
 }

 #container2{
   background-color: color(secondary);
    display: flex;
    padding: 20px;
    width: 40vw;
    flex-direction: column;
    border-radius: 15px;
 }

 #container3{
   display: flex;
   padding: 20px;
   width: 60vw;
   flex-direction: column;
   border-radius: 15px;
 }

 #text{
   color: white; 
    font-size: 4rem;
    margin: 10px;
    flex-grow: 1;
    font-family: 'M PLUS Rounded 1c', sans-serif;
 }

 .flex-parent3{
   margin: 15px;
   flex-direction: column;
   justify-content: space-between;
   border-radius: 15px;
 }

.flex-child{
  background-color: color(secondary);
  margin: 15px;
  justify-content: space-around;
  border-radius: 15px;
}

#paragraph{
  color: white; 
  font-size: 3rem;
  margin: 20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}



