@import"./_variables.scss";

.body{
    height: 100vh;
    background-color: color(primary);
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.flex-child2{
    background-color: color(secondary);
    margin: 15px;
 }

 #container3{
    display: flex;
    padding: 20px;
    flex-grow: 1;
 }

 #container4{
   background-color: color(secondary);
    display: flex;
    padding: 20px;
    flex-grow: 1;
 }

 #text1{
   color: white; 
    font-size: 4rem;
    margin: 10px;
    flex-grow: 1;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 50vh;
 }

 #text2{
    color: white; 
    font-size: 4rem;
    margin: 10px;
    flex-grow: 1;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 50vh;
 }